In [2]:
import pandas as pd
df=pd.read_csv("IMDB_OMDB_Kaggle_TestSet_OMDB_Detailed.csv")

In [3]:
print(df.columns)

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings.Source', 'Ratings.Value', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'tomatoMeter', 'tomatoImage',
       'tomatoRating', 'tomatoReviews', 'tomatoFresh', 'tomatoRotten',
       'tomatoConsensus', 'tomatoUserMeter', 'tomatoUserRating',
       'tomatoUserReviews', 'tomatoURL', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Response'],
      dtype='object')

In [4]:
#ilk 5 kaydı gösterin
result=df.head()
print(result)

   Unnamed: 0                                     Title  Year  Rated  \
0           1                                    Avatar  2009  PG-13
1           2  Pirates of the Caribbean: At World's End  2007  PG-13
2           3                                   Spectre  2015  PG-13
3           4                     The Dark Knight Rises  2012  PG-13
4           5                           The Lone Ranger  2013  PG-13

      Released  Runtime                        Genre           Director  \
0  18 Dec 2009  162 min   Action, Adventure, Fantasy      James Cameron
1  25 May 2007  169 min   Action, Adventure, Fantasy     Gore Verbinski
2  06 Nov 2015  148 min  Action, Adventure, Thriller         Sam Mendes
3  20 Jul 2012  164 min             Action, Thriller  Christopher Nolan
4  03 Jul 2013  150 min   Action, Adventure, Western     Gore Verbinski

                                              Writer  \
0                                      James Cameron
1  Ted Elliott, Terry Rossio, Ted Elliott (charac...
2  John Logan (screenplay), Neal Purvis (screenpl...
3  Jonathan Nolan (screenplay), Christopher Nolan...
4  Justin Haythe (screenplay), Ted Elliott (scree...

                                              Actors  ... tomatoConsensus  \
0  Sam Worthington, Zoe Saldana, Sigourney Weaver...  ...             NaN
1  Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...  ...             NaN
2  Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...  ...             NaN
3  Christian Bale, Gary Oldman, Tom Hardy, Joseph...  ...             NaN
4  Johnny Depp, Armie Hammer, William Fichtner, T...  ...             NaN

  tomatoUserMeter tomatoUserRating tomatoUserReviews  \
0             NaN              NaN               NaN
1             NaN              NaN               NaN
2             NaN              NaN               NaN
3             NaN              NaN               NaN
4             NaN              NaN               NaN

                                           tomatoURL          DVD  \
0            http://www.rottentomatoes.com/m/avatar/  22 Apr 2010
1  http://www.rottentomatoes.com/m/pirates_of_the...  04 Dec 2007
2      http://www.rottentomatoes.com/m/spectre_2015/  09 Feb 2016
3  http://www.rottentomatoes.com/m/the_dark_knigh...  03 Dec 2012
4   http://www.rottentomatoes.com/m/the_lone_ranger/  17 Dec 2013

      BoxOffice             Production  \
0  $749,700,000       20th Century Fox
1  $309,404,152            Buena Vista
2  $208,777,731          Sony Pictures
3  $448,130,642  Warner Bros. Pictures
4   $89,289,910   Walt Disney Pictures

                                             Website Response
0                        http://www.avatarmovie.com/     True
1  http://disney.go.com/disneypictures/pirates/at...     True
2                                http://www.007.com/     True
3                 http://www.thedarkknightrises.com/     True
4              http://disney.go.com/the-lone-ranger/     True

[5 rows x 38 columns]

In [5]:
#ilk 10 kayıt
result=df.head(10)
print(result)

   Unnamed: 0                                     Title  Year  Rated  \
0           1                                    Avatar  2009  PG-13
1           2  Pirates of the Caribbean: At World's End  2007  PG-13
2           3                                   Spectre  2015  PG-13
3           4                     The Dark Knight Rises  2012  PG-13
4           5                           The Lone Ranger  2013  PG-13
5           6                               John Carter  2012  PG-13
6           7                                   Tangled  2010     PG
7           8                              Spider-Man 3  2007  PG-13
8           9                   Avengers: Age of Ultron  2015  PG-13
9          10                Captain America: Civil War  2016  PG-13

      Released  Runtime                         Genre  \
0  18 Dec 2009  162 min    Action, Adventure, Fantasy
1  25 May 2007  169 min    Action, Adventure, Fantasy
2  06 Nov 2015  148 min   Action, Adventure, Thriller
3  20 Jul 2012  164 min              Action, Thriller
4  03 Jul 2013  150 min    Action, Adventure, Western
5  09 Mar 2012  132 min     Action, Adventure, Sci-Fi
6  24 Nov 2010  100 min  Animation, Adventure, Comedy
7  04 May 2007  139 min             Action, Adventure
8  01 May 2015  141 min     Action, Adventure, Sci-Fi
9  06 May 2016  147 min     Action, Adventure, Sci-Fi

                     Director  \
0               James Cameron
1              Gore Verbinski
2                  Sam Mendes
3           Christopher Nolan
4              Gore Verbinski
5              Andrew Stanton
6  Nathan Greno, Byron Howard
7                   Sam Raimi
8                 Joss Whedon
9    Anthony Russo, Joe Russo

                                              Writer  \
0                                      James Cameron
1  Ted Elliott, Terry Rossio, Ted Elliott (charac...
2  John Logan (screenplay), Neal Purvis (screenpl...
3  Jonathan Nolan (screenplay), Christopher Nolan...
4  Justin Haythe (screenplay), Ted Elliott (scree...
5  Andrew Stanton (screenplay), Mark Andrews (scr...
6  Dan Fogelman (screenplay), Jacob Grimm (based ...
7  Sam Raimi (screenplay), Ivan Raimi (screenplay...
8  Joss Whedon, Stan Lee (based on the Marvel com...
9  Christopher Markus (screenplay), Stephen McFee...

                                              Actors  ... tomatoConsensus  \
0  Sam Worthington, Zoe Saldana, Sigourney Weaver...  ...             NaN
1  Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...  ...             NaN
2  Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...  ...             NaN
3  Christian Bale, Gary Oldman, Tom Hardy, Joseph...  ...             NaN
4  Johnny Depp, Armie Hammer, William Fichtner, T...  ...             NaN
5  Taylor Kitsch, Lynn Collins, Samantha Morton, ...  ...             NaN
6  Mandy Moore, Zachary Levi, Donna Murphy, Ron P...  ...             NaN
7  Tobey Maguire, Kirsten Dunst, James Franco, Th...  ...             NaN
8  Robert Downey Jr., Chris Hemsworth, Mark Ruffa...  ...             NaN
9  Chris Evans, Robert Downey Jr., Scarlett Johan...  ...             NaN

  tomatoUserMeter tomatoUserRating tomatoUserReviews  \
0             NaN              NaN               NaN
1             NaN              NaN               NaN
2             NaN              NaN               NaN
3             NaN              NaN               NaN
4             NaN              NaN               NaN
5             NaN              NaN               NaN
6             NaN              NaN               NaN
7             NaN              NaN               NaN
8             NaN              NaN               NaN
9             NaN              NaN               NaN

                                           tomatoURL          DVD  \
0            http://www.rottentomatoes.com/m/avatar/  22 Apr 2010
1  http://www.rottentomatoes.com/m/pirates_of_the...  04 Dec 2007
2      http://www.rottentomatoes.com/m/spectre_2015/  09 Feb 2016
3  http://www.rottentomatoes.com/m/the_dark_knigh...  03 Dec 2012
4   http://www.rottentomatoes.com/m/the_lone_ranger/  17 Dec 2013
5       http://www.rottentomatoes.com/m/john_carter/  05 Jun 2012
6           http://www.rottentomatoes.com/m/tangled/  29 Mar 2011
7       http://www.rottentomatoes.com/m/spiderman_3/  30 Oct 2007
8  http://www.rottentomatoes.com/m/avengers_age_o...  02 Oct 2015
9  http://www.rottentomatoes.com/m/captain_americ...  13 Sep 2016

      BoxOffice             Production  \
0  $749,700,000       20th Century Fox
1  $309,404,152            Buena Vista
2  $208,777,731          Sony Pictures
3  $448,130,642  Warner Bros. Pictures
4   $89,289,910   Walt Disney Pictures
5   $73,058,679   Walt Disney Pictures
6  $200,803,309   Walt Disney Pictures
7  $336,530,303          Sony Pictures
8  $429,113,729   Walt Disney Pictures
9  $408,080,554   Walt Disney Pictures

                                             Website Response
0                        http://www.avatarmovie.com/     True
1  http://disney.go.com/disneypictures/pirates/at...     True
2                                http://www.007.com/     True
3                 http://www.thedarkknightrises.com/     True
4              http://disney.go.com/the-lone-ranger/     True
5                   http://www.johncarterarrives.com     True
6                          http://Disney.com/Tangled     True
7  http://www.sonypictures.com/movies/spiderman3/...     True
8                         http://marvel.com/avengers     True
9             http://marvel.com/captainamerica#/home     True

[10 rows x 38 columns]

In [6]:
#son 5 kayıt
result=df.tail()
print(result)

    Unnamed: 0                                       Title  Year  Rated  \
19          20  Pirates of the Caribbean: Dead Man's Chest  2006  PG-13
20          21                                Man of Steel  2013  PG-13
21          22    The Chronicles of Narnia: Prince Caspian  2008     PG
22          23                      The Amazing Spider-Man  2012  PG-13
23          24                              Jurassic World  2015  PG-13

       Released  Runtime                       Genre         Director  \
19  07 Jul 2006  151 min  Action, Adventure, Fantasy   Gore Verbinski
20  14 Jun 2013  143 min  Action, Adventure, Fantasy      Zack Snyder
21  16 May 2008  150 min   Action, Adventure, Family   Andrew Adamson
22  03 Jul 2012  136 min           Action, Adventure        Marc Webb
23  12 Jun 2015  124 min   Action, Adventure, Sci-Fi  Colin Trevorrow

                                               Writer  \
19  Ted Elliott, Terry Rossio, Ted Elliott (charac...
20  David S. Goyer (screenplay), David S. Goyer (s...
21  Andrew Adamson (screenplay), Christopher Marku...
22  James Vanderbilt (screenplay), Alvin Sargent (...
23  Rick Jaffa (screenplay), Amanda Silver (screen...

                                               Actors  ... tomatoConsensus  \
19  Johnny Depp, Orlando Bloom, Keira Knightley, J...  ...             NaN
20  Henry Cavill, Amy Adams, Michael Shannon, Dian...  ...             NaN
21  Ben Barnes, Georgie Henley, Skandar Keynes, Wi...  ...             NaN
22  Andrew Garfield, Emma Stone, Rhys Ifans, Denis...  ...             NaN
23  Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...  ...             NaN

   tomatoUserMeter tomatoUserRating tomatoUserReviews  \
19             NaN              NaN               NaN
20             NaN              NaN               NaN
21             NaN              NaN               NaN
22             NaN              NaN               NaN
23             NaN              NaN               NaN

                                            tomatoURL          DVD  \
19  http://www.rottentomatoes.com/m/pirates_of_the...  05 Dec 2006
20  http://www.rottentomatoes.com/m/superman_man_o...  12 Nov 2013
21  http://www.rottentomatoes.com/m/chronicles_of_...  02 Dec 2008
22  http://www.rottentomatoes.com/m/the_amazing_sp...  09 Nov 2012
23    http://www.rottentomatoes.com/m/jurassic_world/  20 Oct 2015

       BoxOffice             Production  \
19  $423,032,628            Buena Vista
20  $291,021,565  Warner Bros. Pictures
21  $141,614,023   Walt Disney Pictures
22  $262,030,663          Sony Pictures
23  $528,757,749     Universal Pictures

                                     Website Response
19                 http://pirates.movies.com     True
20          http://manofsteel.warnerbros.com     True
21                        http://narnia.com/     True
22  http://www.theamazingspiderman.com/site/     True
23        http://www.jurassicworldmovie.com/     True

[5 rows x 38 columns]

In [7]:
#son 10 kayıt
result=df.tail(10)
print(result)

    Unnamed: 0                                        Title  Year  Rated  \
14          15    The Hobbit: The Battle of the Five Armies  2014  PG-13
15          16  Pirates of the Caribbean: On Stranger Tides  2011  PG-13
16          17                             Superman Returns  2006  PG-13
17          18                            Quantum of Solace  2008  PG-13
18          19                                 The Avengers  2012  PG-13
19          20   Pirates of the Caribbean: Dead Man's Chest  2006  PG-13
20          21                                 Man of Steel  2013  PG-13
21          22     The Chronicles of Narnia: Prince Caspian  2008     PG
22          23                       The Amazing Spider-Man  2012  PG-13
23          24                               Jurassic World  2015  PG-13

       Released  Runtime                        Genre         Director  \
14  17 Dec 2014  144 min           Adventure, Fantasy    Peter Jackson
15  20 May 2011  136 min   Action, Adventure, Fantasy     Rob Marshall
16  28 Jun 2006  154 min    Action, Adventure, Sci-Fi     Bryan Singer
17  14 Nov 2008  106 min  Action, Adventure, Thriller     Marc Forster
18  04 May 2012  143 min               Action, Sci-Fi      Joss Whedon
19  07 Jul 2006  151 min   Action, Adventure, Fantasy   Gore Verbinski
20  14 Jun 2013  143 min   Action, Adventure, Fantasy      Zack Snyder
21  16 May 2008  150 min    Action, Adventure, Family   Andrew Adamson
22  03 Jul 2012  136 min            Action, Adventure        Marc Webb
23  12 Jun 2015  124 min    Action, Adventure, Sci-Fi  Colin Trevorrow

                                               Writer  \
14  Fran Walsh (screenplay), Philippa Boyens (scre...
15  Ted Elliott (screenplay), Terry Rossio (screen...
16  Michael Dougherty (screenplay), Dan Harris (sc...
17              Paul Haggis, Neal Purvis, Robert Wade
18  Joss Whedon (screenplay), Zak Penn (story), Jo...
19  Ted Elliott, Terry Rossio, Ted Elliott (charac...
20  David S. Goyer (screenplay), David S. Goyer (s...
21  Andrew Adamson (screenplay), Christopher Marku...
22  James Vanderbilt (screenplay), Alvin Sargent (...
23  Rick Jaffa (screenplay), Amanda Silver (screen...

                                               Actors  ... tomatoConsensus  \
14  Ian McKellen, Martin Freeman, Richard Armitage...  ...             NaN
15  Johnny Depp, Penélope Cruz, Geoffrey Rush, Ian...  ...             NaN
16  Brandon Routh, Kate Bosworth, Kevin Spacey, Ja...  ...             NaN
17  Daniel Craig, Olga Kurylenko, Mathieu Amalric,...  ...             NaN
18  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...  ...             NaN
19  Johnny Depp, Orlando Bloom, Keira Knightley, J...  ...             NaN
20  Henry Cavill, Amy Adams, Michael Shannon, Dian...  ...             NaN
21  Ben Barnes, Georgie Henley, Skandar Keynes, Wi...  ...             NaN
22  Andrew Garfield, Emma Stone, Rhys Ifans, Denis...  ...             NaN
23  Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...  ...             NaN

   tomatoUserMeter tomatoUserRating tomatoUserReviews  \
14             NaN              NaN               NaN
15             NaN              NaN               NaN
16             NaN              NaN               NaN
17             NaN              NaN               NaN
18             NaN              NaN               NaN
19             NaN              NaN               NaN
20             NaN              NaN               NaN
21             NaN              NaN               NaN
22             NaN              NaN               NaN
23             NaN              NaN               NaN

                                            tomatoURL          DVD  \
14  http://www.rottentomatoes.com/m/the_hobbit_the...  24 Mar 2015
15  http://www.rottentomatoes.com/m/pirates_of_the...  18 Oct 2011
16  http://www.rottentomatoes.com/m/superman_returns/  28 Nov 2006
17  http://www.rottentomatoes.com/m/quantum_of_sol...  24 Mar 2009
18  http://www.rottentomatoes.com/m/marvels_the_av...  25 Sep 2012
19  http://www.rottentomatoes.com/m/pirates_of_the...  05 Dec 2006
20  http://www.rottentomatoes.com/m/superman_man_o...  12 Nov 2013
21  http://www.rottentomatoes.com/m/chronicles_of_...  02 Dec 2008
22  http://www.rottentomatoes.com/m/the_amazing_sp...  09 Nov 2012
23    http://www.rottentomatoes.com/m/jurassic_world/  20 Oct 2015

       BoxOffice             Production  \
14  $187,747,747           Warner Bros.
15  $241,063,875   Walt Disney Pictures
16  $200,100,000  Warner Bros. Pictures
17  $168,400,000               Sony/MGM
18  $623,279,547   Walt Disney Pictures
19  $423,032,628            Buena Vista
20  $291,021,565  Warner Bros. Pictures
21  $141,614,023   Walt Disney Pictures
22  $262,030,663          Sony Pictures
23  $528,757,749     Universal Pictures

                                     Website Response
14                 http://www.thehobbit.com/     True
15                 http://Disney.com/Pirates     True
16           http://www.supermanreturns.com/     True
17                       http://www.007.com/     True
18          http://marvel.com/avengers_movie     True
19                 http://pirates.movies.com     True
20          http://manofsteel.warnerbros.com     True
21                        http://narnia.com/     True
22  http://www.theamazingspiderman.com/site/     True
23        http://www.jurassicworldmovie.com/     True

[10 rows x 38 columns]

In [8]:
#Sadece Title kolonunu alın
result=df["Title"]
print(result)

0                                          Avatar
1        Pirates of the Caribbean: At World's End
2                                         Spectre
3                           The Dark Knight Rises
4                                 The Lone Ranger
5                                     John Carter
6                                         Tangled
7                                    Spider-Man 3
8                         Avengers: Age of Ultron
9                      Captain America: Civil War
10             Batman v Superman: Dawn of Justice
11              The Hobbit: An Unexpected Journey
12         Harry Potter and the Half-Blood Prince
13            The Hobbit: The Desolation of Smaug
14      The Hobbit: The Battle of the Five Armies
15    Pirates of the Caribbean: On Stranger Tides
16                               Superman Returns
17                              Quantum of Solace
18                                   The Avengers
19     Pirates of the Caribbean: Dead Man's Chest
20                                   Man of Steel
21       The Chronicles of Narnia: Prince Caspian
22                         The Amazing Spider-Man
23                                 Jurassic World
Name: Title, dtype: object

In [9]:
#Sadece Title kolonunu içeren ilk 5 kaydı al 
result=df["Title"].head()
print(result)

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                             The Lone Ranger
Name: Title, dtype: object

In [10]:
#Title ve Year kolonunu içeren ilk 5 kaydını alın
result=df[["Title","Year"]].head()
print(result)

                                      Title  Year
0                                    Avatar  2009
1  Pirates of the Caribbean: At World's End  2007
2                                   Spectre  2015
3                     The Dark Knight Rises  2012
4                           The Lone Ranger  2013

In [11]:
#Title ve Year kolonunu içeren son 7 kaydını alın
result=df[["Title","Year"]].tail(7)
print(result)

                                         Title  Year
17                           Quantum of Solace  2008
18                                The Avengers  2012
19  Pirates of the Caribbean: Dead Man's Chest  2006
20                                Man of Steel  2013
21    The Chronicles of Narnia: Prince Caspian  2008
22                      The Amazing Spider-Man  2012
23                              Jurassic World  2015

In [12]:
#Title ve year kolonunu içeren ikinci 5 kaydı al
result=df[5:20][["Title","Year"]].head()
print(result)

                        Title  Year
5                 John Carter  2012
6                     Tangled  2010
7                Spider-Man 3  2007
8     Avengers: Age of Ultron  2015
9  Captain America: Civil War  2016

In [13]:
#Title ve year kolonunu içeren ve imdb puanı 8.0 dan büyük olan kayıtlardan ilk 50 yi getir
df["imdbRating"] = pd.to_numeric(df["imdbRating"], errors="coerce")
result=df[df["imdbRating"]>8.0][["Title","Year"]].head(50)
print(result)

                    Title  Year
3   The Dark Knight Rises  2012
18           The Avengers  2012

In [14]:
#Yayın tarihi 2014 ve 2015 arası olan filmleri listele
df["Year"] = pd.to_numeric(df["Year"], errors="coerce")
result = df[(df["Year"] >= 2014) & (df["Year"] <= 2015)]
print(result)

    Unnamed: 0                                      Title  Year  Rated  \
2            3                                    Spectre  2015  PG-13
8            9                    Avengers: Age of Ultron  2015  PG-13
14          15  The Hobbit: The Battle of the Five Armies  2014  PG-13
23          24                             Jurassic World  2015  PG-13

       Released  Runtime                        Genre         Director  \
2   06 Nov 2015  148 min  Action, Adventure, Thriller       Sam Mendes
8   01 May 2015  141 min    Action, Adventure, Sci-Fi      Joss Whedon
14  17 Dec 2014  144 min           Adventure, Fantasy    Peter Jackson
23  12 Jun 2015  124 min    Action, Adventure, Sci-Fi  Colin Trevorrow

                                               Writer  \
2   John Logan (screenplay), Neal Purvis (screenpl...
8   Joss Whedon, Stan Lee (based on the Marvel com...
14  Fran Walsh (screenplay), Philippa Boyens (scre...
23  Rick Jaffa (screenplay), Amanda Silver (screen...

                                               Actors  ... tomatoConsensus  \
2   Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...  ...             NaN
8   Robert Downey Jr., Chris Hemsworth, Mark Ruffa...  ...             NaN
14  Ian McKellen, Martin Freeman, Richard Armitage...  ...             NaN
23  Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...  ...             NaN

   tomatoUserMeter tomatoUserRating tomatoUserReviews  \
2              NaN              NaN               NaN
8              NaN              NaN               NaN
14             NaN              NaN               NaN
23             NaN              NaN               NaN

                                            tomatoURL          DVD  \
2       http://www.rottentomatoes.com/m/spectre_2015/  09 Feb 2016
8   http://www.rottentomatoes.com/m/avengers_age_o...  02 Oct 2015
14  http://www.rottentomatoes.com/m/the_hobbit_the...  24 Mar 2015
23    http://www.rottentomatoes.com/m/jurassic_world/  20 Oct 2015

       BoxOffice            Production                             Website  \
2   $208,777,731         Sony Pictures                 http://www.007.com/
8   $429,113,729  Walt Disney Pictures          http://marvel.com/avengers
14  $187,747,747          Warner Bros.           http://www.thehobbit.com/
23  $528,757,749    Universal Pictures  http://www.jurassicworldmovie.com/

   Response
2      True
8      True
14     True
23     True

[4 rows x 38 columns]

In [15]:
#değerlendirme sayısı 100.000 den büyük ya da imdb puanı 8-9 arasında olan filmlerin ismini listele
# imdbRating sütununu sayıya çevir
df["imdbRating"] = pd.to_numeric(df["imdbRating"], errors="coerce")
# imdbVotes sütununun veri tipini kontrol et
if df["imdbVotes"].dtype == 'O':  # Eğer object (string) tipindeyse
    df["imdbVotes"] = df["imdbVotes"].str.replace(',', '', regex=True).astype(float)
else:
    df["imdbVotes"] = df["imdbVotes"].astype(float)  # Zaten sayıysa doğrudan float yap

# IMDb oy sayısı 100,000'den büyük veya IMDb puanı 8 ile 9 arasında olan filmleri getir
result = df[(df["imdbVotes"] > 100000) | ((df["imdbRating"] >= 8) & (df["imdbRating"] <= 9))]["Title"]

print(result)

0                                          Avatar
1        Pirates of the Caribbean: At World's End
2                                         Spectre
3                           The Dark Knight Rises
4                                 The Lone Ranger
5                                     John Carter
6                                         Tangled
7                                    Spider-Man 3
8                         Avengers: Age of Ultron
9                      Captain America: Civil War
10             Batman v Superman: Dawn of Justice
11              The Hobbit: An Unexpected Journey
12         Harry Potter and the Half-Blood Prince
13            The Hobbit: The Desolation of Smaug
14      The Hobbit: The Battle of the Five Armies
15    Pirates of the Caribbean: On Stranger Tides
16                               Superman Returns
17                              Quantum of Solace
18                                   The Avengers
19     Pirates of the Caribbean: Dead Man's Chest
20                                   Man of Steel
21       The Chronicles of Narnia: Prince Caspian
22                         The Amazing Spider-Man
23                                 Jurassic World
Name: Title, dtype: object

In [16]:
import pandas as pd

veri = {
    'Calisan': ['Ahmet Yılmaz', 'Can Ertürk', 'Hasan Korkmaz', 'Cenk Saymaz', 'Ali Demir'],
    'Departman': ['İnsan Kaynakları', 'Bilgi İşlem', 'Muhasebe', 'İnsan Kaynakları', 'Pazarlama'],
    'Yas': [30, 25, 45, 50, 23],
    'Semt': ['Kadıköy', 'Tuzla', 'Maltepe', 'Tuzla', 'Maltepe'],
    'Maas': [15000, 18000, 22000, 17000, 14000] 
}

df = pd.DataFrame(veri)

print(df)

         Calisan         Departman  Yas     Semt   Maas
0   Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  15000
1     Can Ertürk       Bilgi İşlem   25    Tuzla  18000
2  Hasan Korkmaz          Muhasebe   45  Maltepe  22000
3    Cenk Saymaz  İnsan Kaynakları   50    Tuzla  17000
4      Ali Demir         Pazarlama   23  Maltepe  14000

In [18]:
result=df["Maas"].sum()
print(result)

86000

In [20]:
result=df["Departman"].groupby
print(result)

<bound method Series.groupby of 0    İnsan Kaynakları
1         Bilgi İşlem
2            Muhasebe
3    İnsan Kaynakları
4           Pazarlama
Name: Departman, dtype: object>

In [23]:
result=df.groupby("Semt").get_group("Maltepe")
print(result)

         Calisan  Departman  Yas     Semt   Maas
2  Hasan Korkmaz   Muhasebe   45  Maltepe  22000
4      Ali Demir  Pazarlama   23  Maltepe  14000

In [28]:
result=df.groupby("Departman").sum("Maas")
print(result)

                  Yas   Maas
Departman
Bilgi İşlem        25  18000
Muhasebe           45  22000
Pazarlama          23  14000
İnsan Kaynakları   80  32000

In [29]:
result=df.groupby("Semt")["Yas"].mean()
print(result)

Semt
Kadıköy    30.0
Maltepe    34.0
Tuzla      37.5
Name: Yas, dtype: float64

In [30]:
result=df.groupby("Departman")["Calisan"].count()
print(result)

Departman
Bilgi İşlem         1
Muhasebe            1
Pazarlama           1
İnsan Kaynakları    2
Name: Calisan, dtype: int64

In [31]:
result=df.groupby("Departman")["Yas"].max()
print(result)

Departman
Bilgi İşlem         25
Muhasebe            45
Pazarlama           23
İnsan Kaynakları    50
Name: Yas, dtype: int64

In [36]:
import numpy as np

In [ ]:
result=df.groupby("Departman").agg(np.mean)
print(result)

In [38]:
result=df.groupby("Departman")["Maas"].agg([np.mean,np.sum,np.max,np.min])
print(result)

                     mean    sum    max    min
Departman
Bilgi İşlem       18000.0  18000  18000  18000
Muhasebe          22000.0  22000  22000  22000
Pazarlama         14000.0  14000  14000  14000
İnsan Kaynakları  16000.0  32000  17000  15000

/var/folders/vl/1hp7pghs52l64byvslzym3b00000gn/T/ipykernel_3792/3991008765.py:1: FutureWarning: The provided callable <function mean at 0x105c8c820> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  result=df.groupby("Departman")["Maas"].agg([np.mean,np.sum,np.max,np.min])
/var/folders/vl/1hp7pghs52l64byvslzym3b00000gn/T/ipykernel_3792/3991008765.py:1: FutureWarning: The provided callable <function sum at 0x105c888b0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  result=df.groupby("Departman")["Maas"].agg([np.mean,np.sum,np.max,np.min])
/var/folders/vl/1hp7pghs52l64byvslzym3b00000gn/T/ipykernel_3792/3991008765.py:1: FutureWarning: The provided callable <function max at 0x105c88ee0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  result=df.groupby("Departman")["Maas"].agg([np.mean,np.sum,np.max,np.min])
/var/folders/vl/1hp7pghs52l64byvslzym3b00000gn/T/ipykernel_3792/3991008765.py:1: FutureWarning: The provided callable <function min at 0x105c8c040> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  result=df.groupby("Departman")["Maas"].agg([np.mean,np.sum,np.max,np.min])