In [1]:
import pandas as pd 

df_house = pd.read_csv('data/AmesHousing.csv')
df_house.info()
#veri seti hakkında bilgi verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [2]:
df_house.isna().sum().sort_values(ascending= False)
#isna eksik veri olan sütunları bulur
#sum kaç tane olduğunu söyler
#büyükten küçüğe sıralar

Pool QC         2917
Misc Feature    2824
Alley           2732
Fence           2358
Mas Vnr Type    1775
                ...
PID                0
Central Air        0
1st Flr SF         0
2nd Flr SF         0
SalePrice          0
Length: 82, dtype: int64

In [3]:
na_series = df_house.isna().sum() #eksik veri içeren sütun sayısı
data_len = len(df_house) * 0.05  # Toplam veri sayısının %5'ini hesapla
na_series[(na_series < data_len) & (na_series != 0)]

Mas Vnr Area      23
Bsmt Qual         80
Bsmt Cond         80
Bsmt Exposure     83
BsmtFin Type 1    80
BsmtFin SF 1       1
BsmtFin Type 2    81
BsmtFin SF 2       1
Bsmt Unf SF        1
Total Bsmt SF      1
Electrical         1
Bsmt Full Bath     2
Bsmt Half Bath     2
Garage Cars        1
Garage Area        1
dtype: int64

In [4]:
col_names = list(na_series[(na_series <= data_len) & (na_series != 0)].keys())
#filtrelenen Series'in indekslerini yani sütun adlarını döndürür.

In [5]:
df_house = df_house.dropna(subset=col_names)
df_house.shape
#dropna(): Bu fonksiyon, eksik veri içeren satırları DataFrame'den çıkarmak için kullanılır.
#subset=col_names: Bu parametre, sadece col_names listesindeki sütunlar üzerinde eksik veri kontrolü yapılmasını sağlar.
# shape: Bu özellik, DataFrame'in boyutlarını (satır sayısı ve sütun sayısı) döndürür.
'''
subset=col_names kullanılmasının nedeni:

Sadece belirli sütunlarda eksik veri kontrolü yapmak ve bu sütunlarda eksik değer bulunan satırları kaldırmak.
'''

(2821, 82)

In [6]:
object_cols = list(df_house.select_dtypes(include='object').columns)
#sözel sütunları buluyoruz
#veri tipi object olanları seçiyoruz
#columns özelliği, DataFrame'deki sütun adlarını döndürür.
'''
select_dtypes() fonksiyonu: Belirli veri tiplerine sahip sütunları seçmek için kullaNILIR
1-DataFrame'deki veri tipi object olan sütunları bulur.
2-Bu sütunların adlarını alır.
3-Sütun adlarını bir listeye dönüştürür.
'''

In [7]:
X_cat = df_house[object_cols]
X_cat
''''
Bu kodun amacı, df_house DataFrame'inden sadece sözel (kategorik veya metin) veri içeren sütunları seçmek ve yeni bir DataFrame'e atamaktır.
'''

,MS Zoning,Street,Alley,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Pool QC,Fence,Misc Feature,Sale Type,Sale Condition
0,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,P,NaN,NaN,NaN,WD,Normal
1,RH,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
3,RL,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Detchd,Unf,TA,TA,Y,NaN,GdPrv,NaN,WD,Normal
2926,RL,Pave,NaN,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
2927,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,NaN,NaN,NaN,NaN,Y,NaN,MnPrv,Shed,WD,Normal
2928,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2929,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [8]:
X_nums = df_house.drop(object_cols, axis=1)
X_nums
#object_cols sütununu çıkartmak istediğimizi belirtir.
#axis=1 sütunlar için, axis=0 ise satırlar için kullanılır.

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,141.0,31770,6,5,1960,1960,112.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,80.0,11622,5,6,1961,1961,0.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,81.0,14267,6,6,1958,1958,108.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,93.0,11160,7,5,1968,1968,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,74.0,13830,5,5,1997,1998,0.0,...,212,34,0,0,0,0,0,3,2010,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,37.0,7937,6,6,1984,1984,0.0,...,120,0,0,0,0,0,0,3,2006,142500
2926,2927,923276100,20,NaN,8885,5,5,1983,1983,0.0,...,164,0,0,0,0,0,0,6,2006,131000
2927,2928,923400125,85,62.0,10441,5,5,1992,1992,0.0,...,80,32,0,0,0,0,700,7,2006,132000
2928,2929,924100070,20,77.0,10010,5,5,1974,1975,0.0,...,240,38,0,0,0,0,0,4,2006,170000
2929,2930,924151050,60,74.0,9627,7,5,1993,1994,94.0,...,190,48,0,0,0,0,0,11,2006,188000

In [9]:
y = X_nums['SalePrice'].values.reshape(-1, 1)#reshape iki boutlu hale getiriyor
X_nums.drop('SalePrice', inplace=True, axis=1)#axis=1 sil demek sale price ı 
#inplace=True: Bu parametre, değişikliklerin orijinal DataFrame üzerinde yapılmasını sağlar.
#Bir veri kümesinde "SalePrice" adlı bağımlı bir değişken bulunmaktadır. Bu değişkenin sayısal değerlerini bağımsız değişkenlerden ayırarak, veri kümesinde sadece bağımsız değişkenlerle çalışmak istiyorsunuz.

In [10]:
from sklearn.model_selection import train_test_split
X_train_cat, X_test_cat, y_train_cat, y_test_cat =train_test_split(X_cat, y, test_size=0.2, random_state=42)
X_train_nums, X_test_nums, y_train_nums, y_test_nums =train_test_split(X_nums, y, test_size=0.2, random_state=42)
'''
Bu kod, verinizi eğitim ve test setlerine ayırır.
Kategorik (sözel) ve sayısal bağımsız değişkenleri ayrı ayrı işleyerek eğitim ve test setlerini oluşturur.
Bu sayede, hem kategorik hem de sayısal verileri kullanarak modelinizi eğitebilir ve test edebilirsiniz.
Bir veri kümesinde, kategorik ve sayısal özellikler olmak üzere iki tür bağımsız değişken bulunmaktadır.
Bu veri kümesinin hedef değişkeni ise SalePrice (satış fiyatı) olarak belirlenmiştir.
Aşağıdaki kod parçası ile, veri kümesindeki kategorik ve sayısal özellikler eğitim ve test setlerine nasıl ayrılır
'''

In [11]:
# eksik verilerin imputation (doldurma) işlemi yapılmak isteniyor.
from sklearn.impute import SimpleImputer

imp_cat =SimpleImputer(strategy='most_frequent') #strategy default olarak mean dir fakat burada özellikle başka bir değişkenden bahsetmiş
X_test_cat = imp_cat.fit_transform(X_test_cat)
X_train_cat=imp_cat.fit_transform(X_train_cat)
'''
Eğitim seti (X_train_cat) ve test seti (X_test_cat) üzerindeki eksik kategorik veriler, en sık görülen değerle dolduruluyor.
Ancak, test verisine dönüşüm uygularken, eğitim setine ait fit() işlemi yalnızca eğitim verisiyle yapılmalı, test verisi yalnızca transform() ile dönüştürülmelidir.
'''

Eğitim verisi (X_train_cat) üzerinde fit_transform() kullanılır. Bu, eksik veriler için en sık görülen değeri (mod) öğrenir ve aynı zamanda eğitim verisi üzerinde eksik verileri doldurur.
Test verisi (X_test_cat) üzerinde de fit_transform() kullanılması, test verisindeki eksik verileri doldururken, eğitim verisinden elde edilen istatistikleri (en sık görülen değer) öğrenmeye çalışır.
Eğitim verisinde stratejiyi öğrenmek için fit_transform() kullanılır, ancak test verisinde sadece transform() kullanılarak, eğitim verisinden öğrenilen strateji uygulanır.

In [12]:
imp_num = SimpleImputer() #default mean

X_train_nums = imp_num.fit_transform(X_train_nums)
X_test_nums = imp_num.fit_transform(X_test_nums)

In [13]:
#imputers are known transformers

import numpy as np 
X_train = np.append(X_train_nums, X_train_cat, axis=1)
X_train

array([[963.0, 916403010.0, 20.0, ..., 'Shed', 'WD ', 'Normal'],
       [2684.0, 903235020.0, 30.0, ..., 'Shed', 'WD ', 'Normal'],
       [2874.0, 910200060.0, 50.0, ..., 'Shed', 'WD ', 'Normal'],
       ...,
       [1172.0, 533215080.0, 120.0, ..., 'Shed', 'CWD', 'Abnorml'],
       [1346.0, 903233080.0, 50.0, ..., 'Shed', 'WD ', 'Normal'],
       [893.0, 908186080.0, 180.0, ..., 'Shed', 'WD ', 'Normal']],
      dtype=object)

In [15]:
X_test = np.append(X_test_nums , X_test_cat ,axis=1)
X_test

array([[1132.0, 531363060.0, 20.0, ..., 'Shed', 'WD ', 'Normal'],
       [2433.0, 528235130.0, 60.0, ..., 'Shed', 'WD ', 'Normal'],
       [794.0, 905475160.0, 20.0, ..., 'Shed', 'WD ', 'Normal'],
       ...,
       [2413.0, 528218080.0, 60.0, ..., 'Shed', 'New', 'Partial'],
       [967.0, 916460110.0, 60.0, ..., 'Shed', 'WD ', 'Abnorml'],
       [1049.0, 527454120.0, 120.0, ..., 'Shed', 'WD ', 'Normal']],
      dtype=object)

In [19]:
from sklearn.pipeline import Pipeline

import pandas as pd 

df_music = pd.read_csv('data/music_clean.csv')
df_music = df_music.dropna(subset=['genre', 'popularity', 'loudness', 'liveness', 'tempo'])
#df_music['genre']= np.where(df_music['genre']=='Rock',1,0)

In [20]:
X = df_music.drop('genre', axis=1).values
y = df_music['genre'].values

In [21]:
from sklearn.linear_model import LogisticRegression
steps = [
    ('imputation', SimpleImputer()),
    ('logistic_regression', LogisticRegression())
]#tuple***

pipeline = Pipeline(steps=steps)

X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=42)

pipeline.fit(X_train, y_train)
pipeline.score(X_test, y_test)

/home/eceakcay/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.775

In [22]:
import pandas as pd 
df_music = pd.read_csv('data/music_genre.csv')
df_music.describe().T

,count,mean,std,min,25%,50%,75%,max
instance_id,44996.0,55883.823784,20728.799250,20002.000000,37999.75000,55856.500000,73854.50000,91759.000
popularity,44996.0,44.261112,15.556250,0.000000,34.00000,45.000000,56.00000,99.000
acousticness,44996.0,0.306620,0.341413,0.000000,0.02010,0.145000,0.55100,0.996
danceability,44996.0,0.558553,0.178870,0.059600,0.44200,0.568000,0.68700,0.986
duration_ms,44996.0,221163.902236,127706.510819,-1.000000,174706.50000,219448.500000,268630.25000,4497994.000
energy,44996.0,0.599551,0.264546,0.000792,0.43200,0.642000,0.81600,0.999
instrumentalness,44996.0,0.181912,0.325904,0.000000,0.00000,0.000159,0.15500,0.996
liveness,44996.0,0.193953,0.161733,0.009670,0.09690,0.126000,0.24400,1.000
loudness,44996.0,-9.136920,6.157838,-47.046000,-10.86000,-7.283000,-5.17600,3.744
speechiness,44996.0,0.093810,0.101488,0.022300,0.03610,0.048900,0.09890,0.942
tempo,44996.0,119.952277,30.642777,34.347000,94.93975,119.879000,140.48225,220.276
valence,44996.0,0.456324,0.247154,0.000000,0.25700,0.448000,0.64700,0.992

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np


X = df_music.drop('music_genre', axis=1).values
y = df_music['music_genre'].values

X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

print(np.mean(X), np.std(X))

print(np.mean(X_train_scaled), np.std(X_train_scaled))

23100.432767763512 72094.37978367604
-2.132128274398108e-15 1.000000000000005

In [27]:
#Scaling in a pipeline

from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

steps = [
    ('scaler', StandardScaler()),
    ('knn', KNeighborsClassifier(n_neighbors=6))
]

pipeline = Pipeline(steps)

knn_scaled = pipeline.fit(X_train, y_train)
y_pred = knn_scaled.predict(X_test)

knn_scaled.score(X_test, y_test)

0.48088888888888887

In [28]:
knn_unscaled = KNeighborsClassifier(n_neighbors=6).fit(X_train, y_train)
knn_unscaled.score(X_test, y_test)

0.1272222222222222

In [ ]:
from sklearn.model_selection import GridSearchCV
import numpy as np

steps = [
    ('scaler', StandardScaler()),
    ('knn', KNeighborsClassifier())
]

pipeline = Pipeline(steps)

parameters = {"knn__n_neighbors" : np.arange(1, 50)}

cv = GridSearchCV(pipeline, param_grid=parameters)
cv.fit(X_train, y_train)

(cv.best_score_, cv.best_params_)

In [ ]:
# Sınıflandırma modellerinin değerlendirilmesi

import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, KFold, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

df_music = pd.read_csv("data/music_clean.csv")

X = df_music.drop('genre', axis=1).values
y = df_music['genre'].values

X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

models = {
    "Logistic Regression" : LogisticRegression(), 
    "KNN": KNeighborsClassifier(), 
    "Decision Tree": DecisionTreeClassifier() 
}

results = []

for model in models.values():
    kf = KFold(n_splits=6, random_state=True, shuffle=True)
    cv_results = cross_val_score(model, X_train_scaled, y_train, cv=kf)
    results.append(cv_results)

plt.boxplot(results, labels=models.keys())

In [ ]:
# test performance

for name, model in models.items():
    model.fit(X_train_scaled, y_train)
    test_score = model.score(X_test_scaled, y_test)
    print(f"{name} Test Set Accuracy : {test_score} ")